#home-bullets {
    padding-top: 4rem;
    .home-bullet {
        margin: 0 auto 4rem;
        max-width: rem-calc(250);
        span {
            font-size: 4rem;
            color: $dark-purple;
            display: inline-block;
            margin-bottom: 2rem;
        }
        h4 {
            line-height: 1.2;
            color: $true-black;
            margin: 0;
        }
        p {
            line-height: 1.2;
            margin: 0;
        }
        &:hover {
            span {
                color: $light-blue;
                transition: color 200ms;
            }
            h4,p {
                transition: transform 200ms;
                transform: translateY(-0.25rem);
            }
        }
    }
}
#learn-more {
    padding: 4rem 0;
    color: $white;
    h2 {
        margin: 0 0 2rem;
        color: $white;
    }
    #learn-more-content {
        @include breakpoint(small only) {
            text-align: center;
        }
    }
}
#home-graph {
    margin: 0 auto 2rem;
    width: rem-calc(300);
    height: rem-calc(300);
    padding: 5rem 4rem;
    text-align: center;
    position: relative;
    h3 {
        color: $dark-pink;
        font-size: 3rem;
        line-height: 1;
        margin: 0;
    }
    p {
        margin: 0;
        line-height: 1.2;
    }
    #home-graph-radius {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}
#stats {
    padding: 4rem 0 0;
    h3 {
        margin: 2rem 0 6rem;
    }
    #map-districts {
        height: 400px;
        @include breakpoint(medium up) {
            height: 500px;
        }
    }
    #home-stats {
        padding-top: 2rem;
        @include breakpoint(medium up) {
            padding-bottom: 2rem;
        }
    }
    .stat-image {
        padding: 1rem;
        @include breakpoint(medium up) {
            padding-left: 3rem;
        }
    }
    .home-stat {
        max-width: rem-calc(400);
        margin: 2rem auto;
        h2 {
            margin: 0;
            line-height: 0.75;
            font-weight: lighter;
            font-size: 2.3913rem;
            text-align: center;
            @include breakpoint(medium up) {
                text-align: left;
            }
        }
        p {
            margin-bottom: 0;
            color: #686868;
            text-align: center;
            @include breakpoint(medium up) {
                text-align: left;
            }
        }
        &:nth-child(1) {
            h2 {
                color: $green;
            }
        }
        &:nth-child(2) {
            h2 {
                color: $hot-pink;
            }
        }
        &:nth-child(3) {
            h2 {
                color: $orange;
            }
        }
        &:nth-child(4) {
            h2 {
                color: $light-purple;
            }
        }
        @include breakpoint(large up) {
            h2 {
                font-size: 3rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
    }
}
#districts {
    padding: 6rem 0;
    #district-images {
        padding: 2rem 0 0;
        margin-bottom: 0;
        .slick-slide {
            opacity: 0.5;
            transition: width 200ms;
            &.slick-current {
                opacity: 1;
            }
        }
        .slick-dots {
            display: none !important;
        }
        .district-image {
            padding: 1rem;
        }
        .district {
            width: 100%;
            height: 0;
            padding-bottom: 66%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            filter: grayscale(100%);
        }
    }
}
#awards {
    padding: 6rem 0;
    #awards-images {
        padding: 2rem 0 0;
        margin-bottom: 0;
        .slick-slide {
            // opacity: 0.5;
            transition: width 200ms;
            &.slick-current {
                // opacity: 0.5;
            }
        }
        .slick-dots {
            display: none !important;
        }
        .award-image {
            padding: 1rem;
        }
        .award {
            width: 100%;
            height: 0;
            padding-bottom: 66%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            display: block;
            opacity: 0.5;
            filter: grayscale(100%);
            transition: filter 200ms ease-in-out;
        }
        a.award:hover {
            filter: grayscale(0);
            opacity: 1;
        }
    }
}
#home-quote {
    padding: 2rem 0;
    color: $white;
    font-weight: bold;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        right: 0;
        left: 0;
        @extend .light-blue-green;
        z-index: -1;
        opacity: 0.8
    }
    .slick-dots {
        margin-left: 0;
    }
    .slick-prev {
        left: 0.5rem;
        @include breakpoint(medium) {
            left: 1rem;
        }
    }
    .slick-next {
        right: 0.5rem;
        @include breakpoint(medium) {
            right: 1rem;
        }
    }
    .home-video-trigger {
        display: inline-block;
        margin: 1rem auto;
        color: $white;
        font-size: 3rem;
        line-height: 2rem;
        @include breakpoint(large up) {
            font-size: 4rem;
        }
        &:hover {
            $color: $light-purple;

        }
        &.invisible {
            visibility: hidden;
        }
    }
    blockquote {
        color: $white;
        padding: 0;
        border: none;
        font-weight: 500;
        @include breakpoint(large up) {
            font-size: 1.2rem;
        }
    }
    p {
        line-height: 1.2;
        strong {
            font-weight: bold;
        }
        @include breakpoint(large up) {
            font-size: 1.1rem;
        }
    }
    img {
        margin: 0 auto 2rem;
        display: block;
        width: rem-calc(140);
    }
    #home-video-iframe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        height: 100%;
        background: $true-black;
        overflow: visible;
        margin-bottom: 0;
    }
    #home-video-close {
        position: absolute;
        left: 50%;
        top: 0;
        text-align: center;
        z-index: 2;
        @extend .button;
        transform: translate(-50%,-50%);
    }
}
