#terms {
    #terms-page-menu {
        border: 4px solid $primary-color;
        padding: 1rem;
        p {
            margin: 1.3rem 0 0.5rem;
        }
        .terms-menu-list {
            margin-bottom: 0;
        }
    }
}