@import url(https://use.typekit.net/ozy8jox.css);

body, html {
  font-family: "museo-sans", Open Sans, sans-serif !important;
}

/* body.home.wildcard-handler .home__content,
body .session .session__container,
body.home.redeem .home__content {
  background: url('../images/redeem-trans.png') repeat 0 0;
  border-radius: 3px;
  width: 730px;
  position: relative;
  margin: 0 auto;
  padding: 30px;
  border: 0;
} */
body {
  background: #fff;
}
/* body.home.wildcard-handler,
body.home.session,
body .session,
body.home.page,
body.home.redeem {
   background: url('../images/session-background.png') no-repeat 0 0;
   background-position: contain;
} */
body.home .container,
body.learn .container,
body.checkout .container {
  height: 100vh;
  background: none;
  box-shadow: none !important;
}
body.learn,
body.home.page {
  background: #fff;
}

.footer__powered-by,
.footer__company__info{
  display: none !important;
}

footer.footer {
  margin-top: 26px;
  background-color: transparent;
}
footer.footer .io-row {
  width: 100%;
}
footer.footer .io-footer {
  width: 48%;
  display: inline-block;
}
footer.footer .footer-left {
  text-align: left;
}
footer.footer .footer-left .io-copyright {
  color: #fff;
  font-size: 9px;
}
footer.footer .footer-right {
  text-align: right;
}
footer.footer .footer-left a {
  display: inline-block;
  height: 50px;
  width: 226px;
  background: url('../images/io-footer-logo.png') no-repeat 0 0;
}
footer.footer .footer-right a {
  display: inline-block;
  height: 50px;
  width: 236px;
  background: url('../images/casenex-footer-logo-v2.png') no-repeat 0 0;
}
body.learn .container .top-bar {
  float: none;
  margin: -6px 0 -12px -18px;
  height: auto !important;
}
body.learn .navigation-bar .top-bar-section ul.left {
  border-bottom: 0;
}
body.learn .navigation-bar .top-bar-section ul li a {
  font-size: 15px;
  font-weight: bold;
}
.nav--top {
  font-weight: bold;
}
.header--microsite .company__logo {
  /*width: auto !important;*/
  background-size: auto !important;
  margin: -29px 0 0 16px;
}
.new-catalog-grid-item {
  min-height: 360px;
}
.featured-content-article-item {
  min-height: 330px;
}
@media only screen and (min-width: 48.063em) {
  .top-bar {
    margin-top: 0;
  }
}

/* corporate landing page */
.ember-application.home.index .header--microsite .company__logo {
  margin-top: 29px;
}
.ember-application.home.index .navigation-bar .top-bar-section ul.left {
  border-bottom: none;
}
.ember-application.home.index {
  background-color: #fff;
}
.ember-application.home.index .container {
  box-shadow: none !important;
}

/* course description accordions */
.acc-container {
  width:90%;
  margin:30px auto 0 auto;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -o-border-radius:3px;
  border-radius:3px;
  overflow:hidden;
}
.acc-btn {
  width:100%;
  margin:0 auto;
  padding:20px 25px;
  cursor:pointer;
  background:#efeeee;
  border-bottom:1px solid #333;
}
.acc-content {
  height:0px;
  width:100%;
  margin:0 auto;
  overflow:hidden;
  background:#222;
}
.acc-content-inner {
  padding:30px;
  background-color: #D7D6D6;
}
.open {
  height: auto;
}
.acc-container h1,
.acc-container h2 {
  color:#656565;
}
.acc-container p {
  color:#798795;
}
.selected {
  color:#1ABC9C;
}

/* ecommerce worflow */
.io-widget-ecommerce {
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  margin-bottom: 18px;
}
.io-widget-ecommerce h5 {
  text-transform: uppercase;
  color: #656565;
}

h1, h2, h3, h4, h5, h6 {
  color: #666;
  margin-bottom: .11em;
}
h1, h2, h3, h4 {
  text-transform: uppercase;
}
h2 {
  font-size: 2.375rem;
  font-weight: 600;
  color: #333;
}
h3 {
  margin-top: 0;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-size: 1.9375rem;
  font-weight: 400;
  line-height: 1.2;
}
h4 {
  font-size: 1.5625rem;
}
p, ul, ol {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  margin-bottom: 1rem;
}
h6, strong, b {
  font-weight: 700;
  color: #333;
}

.row.first-page-content {
  margin-top: 300px !important;
}


.cn-feature {
  margin-bottom: 50px;
}
  .cn-feature h6 {
    position: relative;
    top: -11px;
    margin-bottom: 13px;
  }
.cn-hero {
  height: 300px;
  background: url('../images/cn-hero.jpg') no-repeat center center;
  background-size: 100% 300px;
}
.cn-hero,
.course-reg {
  margin-bottom: 50px;
}
.course-reg.columns {
  border-radius: 8px !important;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(153,153,153,1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(153,153,153,1);
  box-shadow: 0px 0px 5px 1px rgba(153,153,153,1);
}
.course-blend {
  height: 10px;
  background: #ffff66; /* Old browsers */
  background: -moz-linear-gradient(left, #ffff66 0%, #ff6633 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffff66 0%,#ff6633 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffff66 0%,#ff6633 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff66', endColorstr='#ff6633',GradientType=1 ); /* IE6-9 */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.row.course-catalog {
  padding: 13px 0;
}
.course-button .btn {
  margin: 13px 13px 0 0;
}
.proven-model,
.research-practice {
  /* margin-bottom: 125px; */
}
.proven-model img,
.research-practice img {
  width: 300px;
}
.cn-io-logo,
.cn-cta {
  margin-bottom: 50px;
}
.cn-io-logo {
  height: 70px;
  background: url('../images/cn-page-logo.png') no-repeat center center;
  background-size: 27%;
}
.row.client-personas span.cn-icon {
  display: block;
  width: 100%;
  height: 75px;
  margin-bottom: 13px;
}
.row.client-personas span.icon-districts,
.row.client-personas span.icon-admin,
.row.client-personas span.icon-teachers,
.row.client-personas span.icon-students {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
  .row.client-personas span.icon-districts {
    background-image: url(/images/icon-district.png);
  }
  .row.client-personas span.icon-admin {
    background-image: url(../images/icon-admin.png);
  }
  .row.client-personas span.icon-teachers {
    background-image: url(../images/icon-teachers.png);
  }
  .row.client-personas span.icon-students {
    background-image: url(../images/icon-students.png);
  }
.row.client-personas strong {
  line-height: 29px;
}
.row.client-personas p {
  margin-top: 15px;
}
.cn-footer {
  background-color: #12a0d0;
}
.cn-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.cn-footer ul li {
  margin-bottom: 0.5rem;
}
.cn-footer a,
.cn-footer a:hover,
.cn-footer p {
  color: #fff;
}
.cn-footer h6 {
  font-size: 1.2rem;
}
.cn-footer small {
  margin-top: 21px;
  display: block;
  font-size: .8rem;
}
.cn-footer small a {
  padding-right: 10px;
}
.footer-links{
  margin-top: 70px !important;
  margin-bottom: 80px !important;
}
.cn-social-media li {
  display: inline-block;
  font-size: 24px;
  padding: 0 7px;
}
.cn-footer a.footer-badge {
    background: white;
    display: inline-block;
    padding: 12px 1em 7px;
    border-radius: 8px 8px 0 0;
    color: #12a0d0;
    letter-spacing: 0.02em;
    width: 100%;
    line-height: 1.2em;
}

.cn-footer a.footer-badge span {
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 50px);
}

.cn-footer a.footer-badge i.fa.fa-shield {
    font-size: 2.6em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 31px;
}

/* static page info */
/* vertical tabs */
.page-tab ul {
  margin-left: 0;
}
.page-tab .nav li {
  float: none;
}

/* accordions */
.static-page-panel.panel-group .panel {
  padding: 1rem 0 0 0 !important;
}
/* footer */
footer.footer,
.footer__inner {
  display: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
