@import url(https://use.typekit.net/ozy8jox.css);

body, html {
  font-family: "museo-sans", Open Sans, sans-serif !important;
  background-color: #fff;
}
/* body {
  color: #464646;
  font-size: 15px;
  line-height: 1.6;
} */
body.home .container,
body.learn .container,
body.checkout .container {
  /* height: 100vh; */
  background: none;
  box-shadow: none !important;
}
body.ember-application.home.wildcard-handler {
    color: #fff;
    background: #395AAA;
    background: radial-gradient(circle at top left, #0078b9 5%, #80379b 95%);
    height: auto;
}
/* main login box */
body.home.wildcard-handler .home__content,
body .session .session__container,
body.home.redeem .home__content {
  background: none;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  width: 730px;
  position: relative;
  margin: 0 auto;
  padding: 30px;
  border: 0;
}
.session__container {
  top: 82px;
}
.home__content {
  /* top: 82px; */
}
body.home.wildcard-handler #learner .home__content {
  /* top: 52px; */
}
body.home.wildcard-handler .home__content .medium-6,
body.home.redeem .home__content .medium-6,
body .session {
  width: 100%;
}

body.home.wildcard-handler .home__content .btn--primary,
body .session .session__container .btn--primary,
body.home.redeem .home__content .btn--primary,
body .session .nav--top ul a,
body.home.wildcard-handler #learner .nav--top ul a {
    /* font-family: "museo-sans", "Museo Sans", "Helvetica Neue", "Arial", sans-serif; */
    padding: 12px 15px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.8);
    z-index: 5;
    box-sizing: border-box;
    vertical-align: middle;
    text-decoration: none;
    min-width: 100px;
}
body.home.wildcard-handler > .container:first-child {
  padding-bottom: 80px important;
}
body.home.wildcard-handler input[type=email]::placeholder,
body.home.wildcard-handler input[type=password]::placeholder,
body.home.wildcard-handler .field__input[type=text]::placeholder,
body.home.wildcard-handler .field__input[type=password]::placeholder,
body .session input[type=email]::placeholder,
body .session input[type=password]::placeholder,
body .session .field__input[type=text]::placeholder,
body .session .field__input[type=password]::placeholder {
  color: #fff;
}
body.home.wildcard-handler input[type=email].input--expand,
body.home.wildcard-handler input[type=password].input--expand,
body.home.wildcard-handler .field__input[type=text],
body.home.wildcard-handler .field__input[type=password],
body .session input[type=email].input--expand,
body .session input[type=password].input--expand,
body .session .field__input[type=text],
body .session .field__input[type=password] {
  font-weight: 300;
  color: #fff !important;
  padding: 12px;
  font-size: 14px;
  border: none;
  /* margin: 5px 0; */
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  cursor: inherit;
  z-index: 5;
  outline-color: transparent;
  outline: none;
}
body.home.wildcard-handler input[type=email].input--expand:focus,
body.home.wildcard-handler input[type=password].input--expand:focus,
body.home.wildcard-handler .field__input[type=text]:focus,
body.home.wildcard-handler .field__input[type=password]:focus,
body .session input[type=email].input--expand:focus,
body .session input[type=password].input--expand:focus,
body .session .field__input[type=text]:focus,
body .session .field__input[type=password]:focus {
  background: rgba(255, 255, 255, 0.2);
  /* border-top-right-radius: 0;
  border-bottom-right-radius: 0; */
  /* margin: 5px 0 1rem 0; */
}

body.home.wildcard-handler .home__content .btn--primary:hover,
body .session .session__container .btn--primary:hover,
body.home.redeem .home__content .btn--primary:hover,
body.home.wildcard-handler #learner .nav--top ul a:hover {
  background: rgba(255, 255, 255, 0.3);
}
body .session .nav--top ul a,
body.home.wildcard-handler #learner .nav--top ul a {
  text-align: center;
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 13px;
  margin-top: 16px !important;
}
body.home.wildcard-handler .home__content h2,
body .session .session__container h2,
body.home.wildcard-handler .home__content h5,
.home__content .terms__checkbox__wrapper label,
.home__content .terms__checkbox__wrapper .btn--link,
.home__content .terms__checkbox__wrapper a,
body .session .nav--top ul a,
.session__forgot .btn--link,
.session__container label.field__label,
.already-member .btn--link,
.field__input-wrapper label.field__label,
.footer__links a,
.receipt-item__text .receipt-item__title,
.receipt-item__text p {
  color: #fff !important;
}
.session__forgot .btn--link {
  font-weight: normal;
}
body.home.wildcard-handler .already-member {
  font-size: 19px;
}
body .session .session__container h2 {
  text-align: left;
  font-weight: 700;
  font-size: 18px;
}
.terms__copy {
  color: #464646;
}
.home__content .terms__checkbox__wrapper .btn--link,
.home__content .terms__checkbox__wrapper a,
.session__forgot .btn--link,
.already-member .btn--link,
.footer__links a {
  text-decoration: underline;
  text-transform: capitalize;
  /* font-weight: 600; */
}
body .session {
    color: #fff;
    background: #395AAA;
    background: radial-gradient(circle at top left, #0078b9 5%, #80379b 95%);
    min-height: 100vh;
    max-height: 100%;
}
.ember-application.home.index {
  background: #fff !important;
}
.alert-box.secondary {
    background: rgba(102, 216, 226, 0.6);
    color: #fff;
    border: none;
    text-align: center;
    text-shadow: none;
    border-radius: 3px;
    font-weight: bold;
}
.index.home .header.header--microsite {
  background: none;
}
.ember-application.home.wildcard-handler .header--microsite .company__logo,
.company__logo.company__logo--no-background {
  background: url(../images/casenex-header-white.png) no-repeat center center !important;
  background-size: auto !important;
  margin: 0 auto;
  position: absolute;
  float: none !important;
  height: 55px;
  width: 300px;
}
/* register logo */
.ember-application.home.wildcard-handler .header--microsite .company__logo {
  position: relative;
  margin: 25px auto 31px auto;
  left: 53px;
}
/* admin log in logo */
.company__logo.company__logo--no-background {
  top: -85px !important;
  margin-bottom: 23px;
  left: 200px;
}
.company__logo.company__logo--no-background img {
  display: none;
}
@media only screen and (max-width: 768px) {
  .ember-application.home.wildcard-handler .header--microsite .company__logo {
    left: 0;
  }
}
body #learner .footer {
  background-color: transparent !important;
  text-align: center;
}
body #learner .footer .footer__company__info {
  display: none !important;
}
.registration-links {
  border-bottom:1px solid #fff;
  margin: -6px 0 26px 0;
  height: 52px;
}
  .registration-info {
    padding-left: 0;
  }
  .registration-assistance {
    margin-top: 6px;
    padding-right: 0;
  }
    .registration-assistance a {
      font-size: 13px;
      /* font-weight: bold; */
      color: #fff;
    }
      .registration-assistance a i {
        font-size: 16px;
      }
