@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qoxd5t');
  src:  url('fonts/icomoon.eot?qoxd5t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qoxd5t') format('truetype'),
    url('fonts/icomoon.woff?qoxd5t') format('woff'),
    url('fonts/icomoon.svg?qoxd5t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e93b";
}
.icon-mail:before {
  content: "\e002";
}
.icon-arrow-down:before {
  content: "\e097";
}
.icon-checkmark:before {
  content: "\e116";
}
.icon-mouse:before {
  content: "\e937";
}
.icon-play-button-line:before {
  content: "\e934";
}
.icon-clipboard3:before {
  content: "\e925";
}
.icon-bookmark:before {
  content: "\e924";
}
.icon-contact-card:before {
  content: "\e926";
}
.icon-diamond:before {
  content: "\e927";
}
.icon-edit:before {
  content: "\e928";
}
.icon-helm:before {
  content: "\e929";
}
.icon-house:before {
  content: "\e92a";
}
.icon-light-bulb:before {
  content: "\e92b";
}
.icon-light:before {
  content: "\e92c";
}
.icon-mixer:before {
  content: "\e92d";
}
.icon-phone:before {
  content: "\e92e";
}
.icon-plug2:before {
  content: "\e92f";
}
.icon-power-button:before {
  content: "\e930";
}
.icon-presentation:before {
  content: "\e931";
}
.icon-trophy:before {
  content: "\e932";
}
.icon-security:before {
  content: "\e923";
}
.icon-alarm:before {
  content: "\e900";
}
.icon-badge:before {
  content: "\e901";
}
.icon-barchart:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-chevron-left:before {
  content: "\e904";
}
.icon-chevron-right:before {
  content: "\e905";
}
.icon-clipboard:before {
  content: "\e906";
}
.icon-clipboard2:before {
  content: "\e907";
}
.icon-clock:before {
  content: "\e908";
}
.icon-direction:before {
  content: "\e909";
}
.icon-download:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\e90b";
}
.icon-flag:before {
  content: "\e90c";
}
.icon-globe:before {
  content: "\e90d";
}
.icon-graduate:before {
  content: "\e90e";
}
.icon-graph:before {
  content: "\e90f";
}
.icon-heart:before {
  content: "\e910";
}
.icon-instagram:before {
  content: "\e911";
}
.icon-key:before {
  content: "\e912";
}
.icon-linkedin:before {
  content: "\e913";
}
.icon-magnet:before {
  content: "\e914";
}
.icon-menu:before {
  content: "\e915";
}
.icon-pencil:before {
  content: "\e916";
}
.icon-pinterest:before {
  content: "\e917";
}
.icon-play:before {
  content: "\e918";
}
.icon-plug:before {
  content: "\e919";
}
.icon-plus:before {
  content: "\e91a";
}
.icon-recycle:before {
  content: "\e91b";
}
.icon-scope:before {
  content: "\e91c";
}
.icon-serve:before {
  content: "\e91d";
}
.icon-shield:before {
  content: "\e91e";
}
.icon-students:before {
  content: "\e91f";
}
.icon-twitter:before {
  content: "\e920";
}
.icon-vimeo:before {
  content: "\e921";
}
.icon-youtube:before {
  content: "\e922";
}
.icon-chevron-down:before {
  content: "\e938";
}
.icon-chevron-up:before {
  content: "\e939";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-location:before {
  content: "\e947";
}
.icon-googleplus:before {
  content: "\ea8d";
}
.icon-doc:before {
  content: "\e933";
}
.icon-network:before {
  content: "\e9c9";
}
.icon-question:before {
  content: "\ea09";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-envelope:before {
  content: "\e936";
}
.icon-user:before {
  content: "\e935";
}

